<h1>Games#index</h1>
<p>Find me in app/views/games/index.html.erb</p>

<h1>Listing Games</h1>
<table style="width:100%" align= 'center'>
  <thead align= 'center'>
    <tr>
      <th>Title</th>
      <th>Genre</th>
      <th>Platform</th>
      <th>Details</th>
    </tr>
  </thead>
  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= game.title %></td>
        <td><%= game.genre %></td>
        <td><%= game.platform %></td>
        <td>
          
            <%= link_to "Show #{game.title}", game_path(game) %>
          
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= link_to "New game", new_game_path %>